@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;900&display=swap');

.head {
  display: flex;
  background-color: #1d559f;
  justify-content: space-evenly;
  align-items: center;
}

.nav {
  justify-content: space-between;
  background-color: #1d559f;
  display: flex;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

* {
  font-family: 'Nunito';
}

.logo {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.search {
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
}

#search {
  text-align: center;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.fas.fa-search {
  color: white;
}

.menu>li {
  list-style: none;
}

.menu {
  padding-left: 0;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  background-color: #1d559f;
  display: flex;
}

.menu>li>a {
  /* border-left: white solid 1px; */
  color: white;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.menu>li>a:hover {
  background-color: darkblue;
  transition: 0.4s;
}

.logo> img {
  width: 100%;
  height: 100%;
}

.bg {
  margin-bottom: 0;
}
button {
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
}
.right {
  background: linear-gradient( to right, #1d559f,lightblue )
}

:root {
  --bc: #fafaff;
  --primary: #da2c4d;
  --white: #ffffff;
  --black: #000000;
  --dark-red: #6e1727;
  --gray: #6c757d;
  --gray-light: #fcf1ec;
  --gray-extra-dark: #343a40;
  --heading: 3.4rem;
  --heading-large: 7.5rem;
  --heading-medium: 2rem;
  --paragraph: 1.1rem;
  --font-main: "Poppins";
}
html,
body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title> h2 {
  margin: 0;
  width: 60%;
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.title> p {
  margin: 0;
  width: 60%;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}

.title {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 25;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  z-index: 4;
}
/* Slider */
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: 100vh;
  transition: transform 1s;
  position: relative;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Navigation Dots */
.navigation-dots {
  left: 50%;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  z-index: 100;
}

.single-dot {
  width: .8rem;
  height: .8rem;
  margin: 0.4em;
  border-radius: 50%;
  border: 2px solid var(--white);
  background: transparent;
  cursor: pointer;
  transition: .2s;
}

.single-dot.active {
  background: white;
}
#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#backToTopBtn.show {
  display: block;
}

#backToTopBtn:hover {
  opacity: 0.3;
  transform: scale(1.1);
}
.right a:hover{
  border-radius: 15px;
}
.fixed{
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.end {
  color: #ffffff;
  margin-top: 0.1rem;
  background-color: #1d559f;
}
.row{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}
.detail{
  width: 50%;
  margin-top: 3rem;
  border-bottom: white solid 1px;
  padding-bottom: 2rem;
}
.logofoot{
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: white solid 1px;
}
p>a{
  text-decoration: none;
  color: #efa36e
}
.iconcontact{
  display: flex;
  margin-left: 4rem;
}
.iconcontact>a{
  margin-right: 2rem;
}
.maps{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 50%;
}
.map>a{
  text-decoration: none;
  color: white;
}
.map{
  margin-bottom: 1rem;
}
.map>a:hover{
  color:#efa36e;
}
.map>a >.submap{
  display: none;
}
.map>a:hover>.submap{
  position: absolute;
  display: block;
}
ul>li{
  list-style:none;
}
iframe{
  width: 500px;
  height: 200px;
}
