.welcome {
  padding: 1rem;
  text-align: center;
  width: 100%;
  background: linear-gradient(bisque, whitesmoke, bisque);
}

.gioi-thieu-chung>h3 {
  color: mediumblue;
  font-weight: lighter;
}

.gioi-thieu-chung>h3+div {
  font-size: 0.8em;
  color: mediumblue;
}

.gioi-thieu-main .gioi-thieu-chung {
  width: 80%;
}

.ulnodeco {
  list-style-type: none;
  font-size: 0.8em;
}

.link-no-under {
  color: red;
  text-decoration: none;
}

.link-no-under:hover {
  color: blueviolet;
  text-decoration: underline;
}

.webcuusv {
  text-align: right;
}

.flex {
  display: flex;
}

.before-vid {
  color: #000054;
  margin: 1rem;
}

.sumang-tamnhin {
  margin: 1rem;
  font-size: 0.9rem;
  color: #000054;
}

table#gioi-thieu {
  color: #000054;
}

table td .ulnodeco {
  padding-left: 10px;

}

table td ul {
  padding: 0;
}

.end {
  color: #ffffff;
  margin-top: 0.1rem;
  background-color: #1d559f;
}

.row {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}

.logofoot {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: white solid 1px;
}

p>a {
  text-decoration: none;
  color: #efa36e
}

.iconcontact {
  display: flex;
  margin-left: 4rem;
}

.iconcontact>a {
  margin-right: 2rem;
}

.maps {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 50%;
}

.map>a {
  text-decoration: none;
  color: white;
}

.map {
  margin-bottom: 1rem;
}

.map>a:hover {
  color: #efa36e;
}

.establish {
  color: #000054;
}

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

#backToTopBtn.show {
  display: block;
}

#backToTopBtn:hover {
  opacity: 0.3;
  transform: scale(1.1);
}

.fixed {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.map>a:hover {
  color: #efa36e;
}

.map>a>.submap {
  display: none;
}

.map>a:hover>.submap {
  position: absolute;
  display: block;
}

ul>li {
  list-style: none;
}

.iframe-vid-pr {
  text-align: center;
}

iframe.iframe-vid {
  width: 800px;
  height: 450px;
}


@media (max-width: 450px) {
  .maps {
    width: 95%;
  }

  ul.menu.right {
    display: none;
  }

  nav {
    margin: 0;
    padding: 0;
  }

  .welcome {
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    background: linear-gradient(bisque, whitesmoke, bisque);
  }

  .menu {
    background-color: lightseagreen;
  }

  .gioi-thieu-main .gioi-thieu-chung {
    width: 95%;
  }

  .iframe-vid {
    width: 300px !important;
    height: 150px !important;
  }
}

@media (max-width: 280px) {
  * {
    font-size: 0.8rem;
  }

  .iframe-vid {
    width: 250px !important;
    height: 150px !important;
  }
}

@media only screen and (min-width: 451px) and (max-width: 1000px) {

  .nav {
    padding: 1rem;
  }

  ul.menu.right {
    display: none;
  }

  ul.menu.left {
    justify-content: space-between;
  }

  .menu {
    background-color: lightseagreen;
  }

  .welcome {
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .iframe-vid {
    width: 450px !important;
    height: 200px !important;
  }
}