@media (max-width: 420px) {
    .bg {
        box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
        width: 100% !important;
        height: 210px !important;
    }

    .img-avt {
        width: 130px !important;
        height: 130px !important;
    }

    .forme {
        position: absolute;
        left: 60px !important;
        display: flex;
        gap: 1rem;
        align-items: center !important;
        flex-direction: column;
        top: 160px !important;
    }

    .name-info p {
        text-align: center;
    }

    .top-inf {
        width: 100% !important;
        border-radius: 0px 0px 15px 15px;
        height: 550px !important;
    }

    .tieusu {
        display: flex;
        justify-content: center;
        padding: 1rem 1rem 0 1rem !important;
    }

    .add-tieusu button {
        width: 100% !important;
    }

    .tieusu>h2 {
        width: 100% !important;
    }

    .jobs>div {
        width: 100% !important;
    }

    .job a div {
        display: block !important;
        word-break: break-all;
    }

    .focus-left {
        border-radius: 15px;
        height: 500px !important;
        width: 100% !important;
        background-color: white;
    }

    .job a {
        display: flex !important;
        gap: 0.5rem;
        align-items: center;
        font-size: 1rem;
    }

    .nav-info {
        width: 100% !important;
        border-top: 2px solid grey;
        position: absolute;
        left: 0px !important;
        top: 450px !important;
        display: flex;
        align-items: center;
    }

    .thongtin {
        background-color: #edf2f6;
        position: absolute !important;
        top: 570px !important;
        left: 0 !important;
        width: 100% !important;
        gap: 20px !important;
        flex-direction: column !important;
    }

    .secmid {
        height: 1350px !important;
    }

    .focus-inf {
        height: 500px !important;
        border-radius: 15px;
        width: 100% !important;
        background-color: white;
    }

    .nav-info>ul {
        display: flex;
        margin: 0;
        gap: 0 !important;
    }

    li>a {
        border-radius: 15px;
        margin: 0 !important;
        width: 70% !important;
        height: 100%;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 830px) and (min-width: 421px) {

    .top-inf {
        top: 0;
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        height: 650px;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
    }

    .forme {
        position: absolute;
        left: 20px !important;
        display: flex;
        gap: 1rem;
        align-items: flex-end;
        top: 360px;
    }

    .nav-info {
        width: 83%;
        border-top: 2px solid grey;
        position: absolute;
        left: 30px !important;
        top: 550px;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .thongtin {
        background-color: #edf2f6;
        position: absolute !important;
        top: 680px !important;
        left: 0 !important;
        width: 100% !important;
        gap: 20px !important;
        align-items: center !important;
        flex-direction: column !important;
    }

    .focus-inf {
        border-radius: 15px;
        width: 90% !important;
        height: 520px;
        background-color: white;
    }

    .focus-left {
        border-radius: 15px;
        width: 90% !important;
        height: 380px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}