@media (max-width: 830px) and (min-width: 421px){
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
    .detail{
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .iconcontact {
        display: flex;
        padding-left: 8rem;
        margin: 0;
        gap: 1rem;
    }
    .maps{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .maps h2, .map div{
        margin: 0;
        padding: 1rem 5rem 1rem 5rem;
        display: block;
    }
    .detail p{
        padding: 1rem;
        margin: 0;
    }
    .contact{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .contact h2, .contact p{
        margin: 0;
        padding: 1rem 5rem 1rem 5rem;
        display: block;
    }
    .logofoot{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
}
@media (max-width: 420px){
    .create{
        font-size: 20px;
        margin: 0;
    }
    form {
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        height: 100%;
        text-align: center;
    }
    .ghost {
        color: #FFFFFF;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 20px;
        font-size: 10px;
        margin-top: .5rem;
        padding: 0;
        width: 120px;
        height: 35px;
        font-weight: bold;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }
    .maps{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .maps h2, .maps div{
        margin: 0;
        width: 100%;
        padding: 1rem;
        display: block;
    }
    .detail{
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
    }
    .detail p{
        width: 50%;
        padding: 1rem;
        margin: 0;
    }
    .contact{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .contact h2, .contact p{
        margin: 0;
        width: 100%;
        padding: 1rem;
        display: block;
    }
    .menu li{
        width: 20%;
        height: 160px;
    }
    .menu>li>a {
        flex-direction: column;
        gap: 10px;
        /* border-left: white solid 1px; */
        color: white;
        display: flex;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .logofoot img{
        width: 80%;
        height: 100%;
    }
    .end{
        display: flex;
        flex-direction: column;
    }
    .logofoot {
        padding: 1rem;
        width: 100%;
        border-bottom: white solid 1px;
    }
    .forgot {
        margin: 0;
    }
    .sign {
        border-radius: 20px;
        border: 1px solid #00C9FF;
        background-color: #00C9FF;
        color: #FFFFFF;
        font-size: 10px;
        margin-top: .5rem;
        padding: 0;
        font-weight: bold;
        width: 120px;
        height: 35px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }
    .enter {
        height: 5px;
        background-color: #eee;
        border: none;
        margin-top: .5rem;
        padding: 1rem;
        width: 70%;
    }
    .container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        width: 400px;
    }
    .logoform{
        width: 80px;
        height: 80px;
    }
    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }
    .overlay-panel p{
        display: block;
        padding: .5rem;
        margin: 0;
    }

}